





/* ---- stats.js ---- */

/*.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}*/

/*.js-count-particles{
  font-size: 1.1em;
}
*/
/*#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}*/

/*.count-particles{
  border-radius: 0 0 3px 3px;
}
*/

/* ---- base ---- */

body {
  font-family: 'Montserrat', sans-serif;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
}

.container {
  width: 100%;
  background: #ffffff;
}

/* ---- cabeçalho ---- */

.logo img {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #20002c;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav ul li {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  padding: 2%;
}

nav ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
}

.btn {
  color: #20002c;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 1;
}

/* ---- About Me ---- */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background: #20002c;
  color: #ffffff;
}

#about h2 {
  margin-top: 20px;
  font-size: 2em;
}

.img-profile img {
  width: 60%;
}

.img-profile {
  float: left;
  width: 50px;
}

#about-text {
  float: right;
  width: 50%;

}

/* ---- Skills ---- */
#skills {
  padding: 20px;

  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

#img-skills {
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

#skill h2 {
  margin-top: 20px;
  font-size: 2em;
}

ul#img-skills {
  width: 520px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}

ul#img-skills li {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4)
}

ul#img-skills li span {
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(0,0,0,.3);
  font-size: 7pt;
  line-height: 170px;
  padding: 5px;
}

ul#img-skills li:hover {
  transform: scale(1.5);
  transition: all 0.4s ease-in;
}

ul#img-skills li:hover span {
  opacity: 1;
}

ul#img-skills li#sublime {
  background: url('img/sublime.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#sublime:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}

ul#img-skills li#sql {
  background: url('img/sql.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#sql:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}

ul#img-skills li#ruby {
  background: url('img/ruby.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#ruby:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}

ul#img-skills li#js {
  background: url('img/js.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#js:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}

ul#img-skills li#html {
  background: url('img/html5.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#html:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}

ul#img-skills li#css {
  background: url('img/css3.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#css:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}

ul#img-skills li#rails {
  background: url('img/ruby-on-rails.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#rails:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}

ul#img-skills li#github {
  background: url('img/Octocat.png') no-repeat;
  background-position: 50% 50%:
  background-size: 200px 200px;
  background-color: #ffffff;
}

ul#img-skills li#github:hover {
  background-position: 0px 0px;
  background-size: 100px 100px;
}
/*#skills {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

#skills div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#skills p {
  line-height: 1.5;
  margin: 2vh;
  font-size: 1,2em;
}

#skills img {
  margin: 10px 0;
  width: 60px;
}

#skills h2 {
  font-size: 2em;

}

#skills img:hover {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);

}*/
/* ---- project ---- */

#projects {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

#projects div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#projects img {
  margin: 10px 0;
  background-color: lightgray;
  box-shadow: 3px 3px 3px 0px;
}

#projects h2 {
  font-size: 2em;
}

@media screen and (min-width: 768px) {

/* ---- barra de navegaçao ---- */

nav {
  flex-direction: row;
  justify-content: space-around;
}

nav ul {
  flex-direction: row;
  width: 70%;
}

header {
  height: 60vh;
  justify-content: center;
}

/* ---- about ---- */

#about {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 90vh;
  justify-content: center;
  min-height: 80vh;
}

#about h2 {
  text-align: center;
  width: 100%;
}

#about div {
  flex-grow: 1;
  flex-basis: 270px;
  padding: 0 50px;
}

/* ---- Skills ---- */



#skills h2 {
  text-align: center;
  width: 100%;
}

/*#img-skills div {
  display: flex;
}*/

#img-skills {

  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

#img-skills {
  flex-grow: 1;
  flex-basis: 150px;
  padding: 0 10px;
}


/* ---- projects ---- */

#projects {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

#projects h2 {
  text-align: center;
  width: 100%;
}

#projects div {
  flex-grow: 1;
  flex-basis: 150px;
  padding: 0 10px;
}

}

/* ---- particles.js container ---- */

html,body {
  width:100%;
  height:100%;
  overflow-x: hidden;
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #20002c;
}

#particleWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.particle-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#particles-js{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #20002c, #cbb4d4);
}


.particle-title h1 {
  margin-bottom: 2em;
  font-size: 1.7em;
}

h1 {
  font-weight: bold;
}

h3 {
  font-style: italic;
}


#contacts-text {
  padding: 50px;
  width: 50%;
  position: relative;
  left: 39%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  top: -100px;
}

#text-color {
  color: #ff0080;
  font-size: 30px;
}

::selection {
  color: #ff0080;
}

.contact-links {
  display: flex;
  position: relative;
  top: -130px;
  left: 65%;
}

a {
  color: #ff0080;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #ffffff;
}

.contact-links a {
  position: relative;
  justify-content: left;
  left: 13%;
  padding: 20px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}



