





/* ---- stats.js ---- */

/*.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}*/

/*.js-count-particles{
  font-size: 1.1em;
}
*/
/*#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}*/

/*.count-particles{
  border-radius: 0 0 3px 3px;
}
*/

/* ---- base ---- */

body {
  font-family: 'Montserrat', sans-serif;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
}

.container {
  width: 100%;
  background: #20002c;
}

/* ---- cabeçalho ---- */

.icon-rails:before {
  content: "\e900";
  color: #ffffff;
}

.logo img {
  width: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #20002c;
  padding: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav ul li {
  text-align: center;
  width: 100%
  font-size: 1.5em;
  padding: 2%;
}

nav ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
}

/* ---- About Me ---- */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background: #20002c;
  color: #ffffff;
}

#about h2 {
  margin-top: 20px;
  font-size: 2em;
}

/* texto estava grudando do lado direito
#about div {
  flex-grow: 1;
  flex-basis: 300px;
  padding: 0 10px;
}*/

.img img {
  width: 60%;
}

.img {
  float: left;
  width: 50;
}

#about-text {
  float: right;
  width: 50%;

}



/*#about-text {
  padding: 50px;
  width: 50%;
  position: relative;
  left: 39%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}*/

@media screen and (min-width: 768px) {

/* ---- barra de navegaçao ---- */

nav {
  flex-direction: row;
  justify-content: space-around;
}

nav ul {
  flex-direction: row;
  width: 70%;
}

header {
  height: 60vh;
  justify-content: center;
}

/* ---- about ---- */

#about {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 90vh;
  justify-content: center;
  min-height: 80vh;
}

#about h2 {
  text-align: center;
  width: 100%;
}



}

/* ---- particles.js container ---- */

html,body {
  width:100%;
  height:100%;
  overflow-x: hidden;
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

#particleWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.particle-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#particles-js{
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #20002c, #cbb4d4);
}


.particle-title h1 {
  margin-bottom: 2em;
  font-size: 1.7em;
}

h1 {
  font-weight: bold;
}

h3 {
  font-style: italic;
}

/*.avatar-large {
  height: 60vh;
  width: 260px;
  position: absolute;
  left: 90px;
  top: 100px;
  object-fit: cover;

}*/







#contacts-text {
  padding: 50px;
  width: 50%;
  position: relative;
  left: 39%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  top: -100px;
}

#text-color {
  color: #ff0080;
  font-size: 30px;
}

::selection {
  color: #ff0080;
}

.contact-links {
  display: flex;
  position: relative;
  top: -130px;
  left: 65%;
}

a {
  color: #ff0080;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

a:hover {
  color: #ffffff;
}

.contact-links a {
  position: relative;
  justify-content: left;
  left: 13%;
  padding: 20px 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}



